@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows Into Light Two');

/* VARIABLES */

:root {

    /* Pallete */
    --primary: #D9D9D9;
    --secondary: #1F7A3A;
    --terciary: #6D6D6D;

    /* Font Family */
    --text-base: 'Heebo';
    --text-alt: 'Shadows Into Light Two';

    /* Content width */
    --desktop: 1440px;
    --tablet: 768px;
    --mobile: 425px;

    /* Spacings */
    --space-l: 168px;
    --space-m: 100px;
    --space-s: 33px;

}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    line-height: 1.5;
}

a {  
    text-decoration: none;
	color: inherit;
}

ul {
    list-style: none;
}

button, input, textarea, select {
    font: inherit;
    }

img {
    width: 100%;
}

strong {
    font-weight: 700;
}

/* BODY */

body {
    height: 100vh;
    font-family: var(--text-base);
    background-image: url(../img/fondo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */

.header {
    background: var(--primary);
    width: 100%;
}

.header__nav {
    max-width: var(--desktop);
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#logo {
    width: 25%;
    height: auto;
    max-width: 8rem;
    min-width: 7rem;
    margin: .75rem 0;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header__item {
    font-size: 1rem;
    width: 8rem;
    text-align: center;
}

.header a:hover {
    color: var(--secondary);
    font-weight: bold;
}

.header__item a {
    color: var(--secondary);
}

#myStory {
    font-family: var(--text-alt);
}

#active {
    font-weight: bold;
    display: inline-block;
    position: relative;
}

#active::before {
    content: '.';
    font-weight: 900;
    color: var(--secondary);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

/* MAIN */

main {
    margin: var(--space-s);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

h1 span {
    color: var(--secondary);
}

#descripcion{
    text-align: center;
    font-size: 1.15em;
}

main img {
    height: 2rem;
}

.principal {
    width: 100%;
    margin: var(--space-m) 0;
    display: flex;
    justify-content: space-around;
}

.principal__datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.principal__datos div {
    display: grid; 
    grid-template-columns: 6rem auto; 
    grid-template-rows: auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo titulo"
      "logo info"; 
}

.principal__datos img {
    grid-area: logo;
}

.principal__datos h2 {
    grid-area: titulo;
}

.principal__datos p {
    grid-area: info;
}

.principal__formulario{
    width: 30%;
    min-width: calc(var(--space-l)*2);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

input {
    width: 100%;
    height: 2.5rem;
    border-radius: .5rem;
    border: .1rem solid black;
    padding-left: 1rem;
}

textarea {
    width: 100%;
    height: 8rem;
    border-radius: .5rem;
    border: .1rem solid black;
    padding: .5rem 0 0 1rem;
    resize: none;
}

#submit {
    background-color: var(--secondary);
    color: white;
    font-weight: 400;
    width: 30%;
    margin-left: 70%;
    height: 2rem;
    padding-left: 0;
}

/* FOOTER */

.footer {
    background-image: linear-gradient(to right,  rgb(70, 70, 70),var(--terciary));
    color: white;
    width: 100%;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: var(--desktop);
    width: 100%;
    margin: auto;
}

.footer__item {
    font-size: 1rem;
    padding: 0 1rem;
}

.footer__item a:hover {
    color: inherit;
}

#logoLinkedin {
    display: flex;
    align-self: center;
    margin: 0.5rem 0;
}

/* RESPONSIVE */

@media(max-width: 768px) {

    .principal {
        width: 100%;
        margin: var(--space-s) 0;
        flex-direction: column;
        gap: var(--space-s);
        align-items: center;
    }

    .principal__datos {
        width: 100%;
        gap: var(--space-s);
    }

    .principal__datos div {
        grid-template-columns: 40% 60%; 
        grid-template-rows: auto auto; 
    }

    .principal__datos img {
        justify-self: end;
    }

}

@media(max-width: 576px) {

    main {
        font-size: 12px;
    }

    .principal__formulario {
        min-width: inherit;
        width: 100%;
    }

}
