@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows Into Light Two');

/* VARIABLES */

:root {

    /* Pallete */
    --primary: #D9D9D9;
    --secondary: #1F7A3A;
    --terciary: #6D6D6D;

    /* Font Family */
    --text-base: 'Heebo';
    --text-alt: 'Shadows Into Light Two';

    /* Spacings */
    --space-l: 168px;
    --space-m: 100px;
    --space-s: 33px;

}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    line-height: 1.5;
}

a {  
    text-decoration: none;
	color: inherit;
}

ul {
    list-style: none;
}

button, input, textarea, select {
    font: inherit;
    }

img {
    width: 100%;
}

strong {
    font-weight: 700;
}

/* BODY */

body {
    font-family: var(--text-base);
    background-image: url(../img/fondo.svg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */

.header {
    background: var(--primary);
    width: 100%;
}

.header__nav {
    max-width: 1440px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#logo {
    width: 20%;
    height: auto;
    max-width: 10rem;
    min-width: 7rem;
}

#logo img {
    padding: 0.25rem 0;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header__item {
    font-size: 1rem;
    width: 8rem;
    text-align: center;
}

.header a:hover {
    color: var(--secondary);
    font-weight: bold;
}

.header__item a {
    color: var(--secondary);
}

#myStory {
    font-family: var(--text-alt);
}

#active {
    font-weight: bold;
    display: inline-block;
    position: relative;
}

#active::before {
    content: '.';
    font-weight: 900;
    color: var(--secondary);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

/* MAIN */

main {
    max-width: 1440px;
    margin: 0 calc(2*var(--space-l)) var(--space-s);
}

.tituloPagina {
    height: var(--space-l);
    display:flex;
    align-items: center;
    gap: var(--space-s);
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    font-family: var(--text-alt);
}

.grillaDesktop {
    display: grid; 
    grid-template-columns: repeat(4,auto); 
    grid-template-rows: repeat(13 auto); 
    gap: 0 27px; 
    grid-template-areas: 
    "foto1 texto2 foto3 texto3"
    "foto1 foto2 foto3 foto4"
    "texto1 foto2 texto5 foto4"
    "texto1 foto2 texto5 foto4"
    "texto1 texto4 texto5 texto6"
    "foto5 texto4 texto5 texto6"
    "foto5 texto4 foto7 texto6"
    "foto5 foto6 foto7 foto8"
    "texto7 foto6 foto7 foto8"
    "texto7 foto6 texto9 foto8"
    "texto7 texto8 texto9 texto10"
    "texto7 texto8 texto9 texto10"
    "texto7 texto8 texto9 texto10"; 
}

#foto1 { grid-area: foto1; }
#foto2 { grid-area: foto2; }
#foto3 { grid-area: foto3; }
#foto4 { grid-area: foto4; }
#foto5 { grid-area: foto5; }
#foto6 { grid-area: foto6; }
#foto7 { grid-area: foto7; }
#foto8 { grid-area: foto8; }

#texto1 { grid-area: texto1; }
#texto2 { grid-area: texto2; }
#texto3 { grid-area: texto3; }
#texto4 { grid-area: texto4; }
#texto5 { grid-area: texto5; }
#texto6 { grid-area: texto6; }
#texto7 { grid-area: texto7; }
#texto8 { grid-area: texto8; }
#texto9 { grid-area: texto9; }
#texto10 { grid-area: texto10; }

.grillaDesktop div {
    width: auto;
    height:auto;
    margin-bottom: var(--space-s);
}

.grillaDesktop p{
    background-color: var(--primary);
    margin-bottom: var(--space-s);
    padding: 1rem;
    border-radius: .75rem;
    font-size: 1rem;
}

.grillaTablet {
    display:none;
}

.grillaCelular {
    display:none;
}

/* FOOTER */

footer {
    background-image: linear-gradient(to right,  rgb(70, 70, 70),var(--terciary));
    color: white;
    width: 100%;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-left: 0;
}

footer li {
    font-size: 1rem;
}

footer a:hover {
    color: inherit;
}

#logoLinkedin {
    display: flex;
    align-self: center;
    padding: 0.5rem 1rem 0.5rem 0;
}

/* RESPONSIVE */

@media(max-width: 1440px) {

    main {
        margin: 0 var(--space-l) var(--space-s);
    }

}

@media(max-width: 1200px) {

    main {
        margin: 0 var(--space-m) var(--space-s);
    }

}


@media(max-width: 800px) {

    .grillaDesktop {
        display: none;
    }

    .grillaTablet {
        display: block;
    }

    .grillaTablet1 {
        display: grid; 
        grid-template-columns: repeat(2,auto); 
        grid-template-rows: repeat(13 auto); 
        gap: 0 27px; 
        grid-template-areas: 
        "foto1 texto1"
        "foto1 foto2"
        "texto2 foto2"
        "texto2 foto2"
        "texto2 texto3"
        "foto3 texto3"
        "foto3 texto3"
        "foto3 foto4"
        "texto4 foto4"
        "texto4 foto4"
        "texto4 texto5"
        "texto4 texto5"
        "texto4 texto5";
    }

    #foto1 { grid-area: foto1; }
    #foto2 { grid-area: foto2; }
    #foto3 { grid-area: foto3; }
    #foto4 { grid-area: foto4; }

    #texto1 { grid-area: texto1; }
    #texto2 { grid-area: texto2; }
    #texto3 { grid-area: texto3; }
    #texto4 { grid-area: texto4; }
    #texto5 { grid-area: texto5; }    

    .grillaTablet2 {
        display: grid; 
        grid-template-columns: repeat(2,auto); 
        grid-template-rows: repeat(13 auto); 
        gap: 0 27px; 
        grid-template-areas: 
        "foto5 texto6"
        "foto5 foto6"
        "texto7 foto6"
        "texto7 foto6"
        "texto7 texto8"
        "texto7 texto8"
        "foto7 texto8"
        "foto7 foto8"
        "foto7 foto8"
        "texto9 foto8"
        "texto9 texto10"
        "texto9 texto10"
        "texto9 texto10";
    }
    
    #foto5 { grid-area: foto5; }
    #foto6 { grid-area: foto6; }
    #foto7 { grid-area: foto7; }
    #foto8 { grid-area: foto8; }

    #texto6 { grid-area: texto6; }
    #texto7 { grid-area: texto7; }
    #texto8 { grid-area: texto8; }
    #texto9 { grid-area: texto9; }
    #texto10 { grid-area: texto10; }

    .grillaTablet1 div {
        width: auto;
        height:auto;
        margin-bottom: var(--space-s);
    }
    
    .grillaTablet1 p{
        background-color: var(--primary);
        margin-bottom: var(--space-s);
        padding: 1rem;
        border-radius: .75rem;
        font-size: 1.15rem;
    }

    .grillaTablet2 div {
        width: auto;
        height:auto;
        margin-bottom: var(--space-s);
    }
    
    .grillaTablet2 p{
        background-color: var(--primary);
        margin-bottom: var(--space-s);
        padding: 1rem;
        border-radius: .75rem;
        font-size: 1.15rem;
    }

}

@media(max-width:640px) {

    .tituloPagina {
        margin: var(--space-s) 0;
        height: auto;
        display:flex;
        flex-direction: column;
        gap: var(--space-s);
    }
        
    h1 {
        font-weight: 400;
        font-size: 1.75rem;
        text-align: center;
        font-family: var(--text-alt);
    }

    }

@media(max-width: 425px) {

    main {
        margin: 0 var(--space-s) var(--space-s);
    }
        
    .grillaTablet {
        display: none;
    }

    .grillaCelular {
        display: flex;
        flex-direction: column;
    }

    .grillaCelular div {
        width: auto;
        height:auto;
        margin-bottom: var(--space-s);
    }

    .grillaCelular p {
        background-color: var(--primary);
        margin-bottom: var(--space-s);
        padding: 1rem;
        border-radius: .75rem;
        font-size: 1.15rem;
    }

}