:root {

    /* Pallete */
    --primary: #D9D9D9;
    --secondary: #1F7A3A;
    --terciary: #6D6D6D;

    /* Font Family */
    --text-base: 'Heebo';
    --text-alt: 'Shadows Into Light Two';

    /* Content width */
    --desktop: 1440px;
    --tablet: 768px;
    --mobile: 425px;

}