/* Pallete */

$pallete: (
    primary: #D9D9D9,
    secondary: #1f7a3a,
    terciary: #6D6D6D,
);

/* Font Family */

$text: (
    base: 'Heebo',
    alt: 'Shadows Into Light Two',
);

:root {

    /* Spacings */

    --space-l: 168px;
    --space-m: 100px;
    --space-s: 33px;
}