<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/contactme.css">
    <title>Contact Me</title>
</head>

<body>

    <header class="header">

        <nav class="header__nav navbar navbar-expand-lg">
            <div class="container-fluid">
                <a id="logo" href="../index.html"><img src="../img/header/fmp.png" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="header__list navbar-nav">
                        <li class="header__item nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                        <li class="header__item nav-item"><a class="nav-link" href="./experience.html">Experience</a></li>
                        <li class="header__item nav-item"><a class="nav-link" href="./formation.html">Formation</a></li>
                        <li class="header__item nav-item"><a class="nav-link" id="myStory" href="./mystory.html">My Story</a></li>
                        <li class="header__item nav-item" id="active"><a class="nav-link" href="./contactme.html">Contact Me</a></li>
                    </ul>
                </div>
            </div>
          </nav>

    </header>

    <main>

        <h1>How to <span>Contact Me</span></h1> <!-- Descripción chistosa jeje -->
        <p id="descripcion">For sure I'm being called from a bunch of companies and start ups. For the moment, just leave a message and I’ll try to answer you as soon as possible, as long I’m not busy having an interview.</p>

        <div class="principal">

            <section class="principal__datos">
                <div>
                    <img src="../img/contactme/mail.svg" alt="mail">
                    <h2>Chat With Me</h2>
                    <p>facundomdelp@gmail.com</p>
                </div>
                <div>
                    <img src="../img/contactme/phone.svg" alt="phone">
                    <h2>Phone</h2>
                    <p>+54-911-3xx8-75x3</p>
                </div>
                <div>
                    <img src="../img/contactme/linkedin.svg" alt="linkedin">
                    <h2>LinkedIn</h2>
                    <p>See the footer.</p>
                </div>
            </section>

            <form class="principal__formulario"> <!-- formulario para contactarme vía página web -->
                <div><input type="text" name="empresa" placeholder="Your Name"></div>
                <div><input type="email" name="nombre" placeholder="Your E-mail"></div>
                <div><input type="text" name="correo" placeholder="Subject"></div>
                <div><textarea name="Message" id="mensaje" cols="30" rows="10" placeholder="Your Message"></textarea></div>
                <div><a href="./contactme.html"><input type="submit" value="Submit" id="submit" onclick="alert('¡Enviado!')"></a></div>
            </form>
            
        </div>

    </main>

    <footer>
        <ul>
            <li><a href="https://www.linkedin.com/in/facundomdelp/" target="_blank"><img id="logoLinkedin" src="../img/footer/in.png" alt="linkedin"></a></li>
            <li><a href="https://www.linkedin.com/in/facundomdelp/" target="_blank">/facundomdelp</a></li>
            </a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>

</html>