<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/experience.css">
    <title>Experience</title>
</head>

<body>

    <header class="header">
        <nav class="header__nav">
            <img id="logo" src="../img/header/fmp.svg" alt="Logo">
            <ul class="header__list">
                <li class="header__item"><a href="../index.html">Home</a></li>
                <li class="header__item" id="active"><a href="./experience.html">Experience</a></li>
                <li class="header__item"><a href="./formation.html">Formation</a></li>
                <li class="header__item"><a id="myStory" href="./mystory.html">My Story</a></li>
                <li class="header__item"><a href="./contactme.html">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="tituloPagina"><h1>Experience</h1></div>

        <section class="experiencia"> <!-- Experiencia laboral/profesional de Facu -->
            <article>
                <img src="../img/experience/fabrica.svg" alt="fabrica">
                <h2>Pilkington Automotive Argentina</h2>
                <p>November 2015 - present</p>
                <button><a href="#pilkington">Know More</a></button>
            </article>
            <article>
                <img src="../img/experience/colegio.svg" alt="colegio">
                <h2>Santa Inés School</h2>
                <p>2013</p>
                <button><a href="#santaInes">Know More</a></button>
            </article>
            <article>
                <img src="../img/experience/montania.svg" alt="montaña">
                <h2>Northstar California Resort</h2>
                <p>December 2012 - April 2013</p>
                <button><a href="#northstar">Know More</a></button>
            </article>
        </section>

        <section class="imagenes"> <!-- Imágenes descriptivas -->
            <img src="../img/experience/trafico.svg" alt="trafico">
            <img src="../img/experience/trabajo.svg" alt="trabajo">
            <img src="../img/experience/oficina.svg" alt="oficina">
        </section>

        <section class="descripcion"> <!-- Descripción de la experiencia laboral/profesional de Facu -->
            <article>
                <h3 id="pilkington">Pilkington Automotive</h2>
                <div>
                <img src="../img/experience/calidad.svg" alt="calidad">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, neque. Laboriosam, doloremque praesentium, libero voluptatem iusto veniam dignissimos modi quis quaerat at qui dolor facilis fugit deserunt, neque aspernatur delectus.</p>
                </div>
            </article>
            <article>
                <h3 id="santaInes">Santa Inés School</h2>
                <div>
                <img src="../img/experience/pizarron.svg" alt="pizarron">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quam unde molestiae iusto repellat ut, sequi blanditiis temporibus pariatur sunt quos ea aperiam perspiciatis harum incidunt distinctio debitis est libero.</p>
                </div>
            </article>
            <article>
                <h3 id="northstar">Northstar California Resort</h2>
                <div>
                <img src="../img/experience/esqui.svg" alt="esqui">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, nisi odit aut asperiores tempore voluptatem minus deserunt fugiat eaque doloribus voluptatibus laudantium a excepturi hic perspiciatis, omnis nam numquam aperiam!</p>
                </div>
            </article>
        </section>

        <!--<section>
            por lo pronto no voy a incluir este video en la primera entrega
            <iframe width="1904" height="778" src="https://www.youtube.com/embed/ig4G5WbOMLc" title="Pilkington Float Glass Process" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section> -->

    </main>

    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item"><img id="logoLinkedin" src="../img/footer/in.svg" alt="linkedin"></li>
            <li class="footer__item">/facundomdelp</li>
        </ul>
    </footer>

</body>
</html>