<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="developer, programmer, coder, full stack, frontend, backend, profesional, argentina, engineer, teacher, professor, ski, job experience, desarrollador, programador, ingeniero, maestro, profesor, esquí, experiencia laboral">
    <meta name="description" content="Facundo's professional experience since he started working in his early 20's">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/carousel.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Experience | Facundo's professional carrer</title>
</head>

<body class="body__experience">

    <header class="header" id="header">

        <nav class="header__nav navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="../index.html"><img src="../img/header/fmp.png" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="header__list navbar-nav">
                        <li class="header__item nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                        <li class="header__item nav-item" id="active"><a class="nav-link" href="./experience.html">Experience</a></li>
                        <li class="header__item nav-item"><a class="nav-link" href="./formation.html">Formation</a></li>
                        <li class="header__item nav-item"><a class="nav-link" id="myStory" href="./mystory.html">My Story</a></li>
                        <li class="header__item nav-item"><a class="nav-link" href="./contactme.html">Contact Me</a></li>
                    </ul>
                </div>
            </div>
          </nav>

    </header>

    <main class="main__experience">

        <a href="#header"><div class="subir"><img src="../img/subir.svg" alt="flecha para subir"></div></a>

        <div class="tituloPagina"><h1>Experience</h1></div>

        <div class="carousel"> <!-- Carrousel para vista celular -->
            <div class="carousel my-carousel carousel--translate">
              <input class="carousel__activator" type="radio" name="carousel" id="F" checked="checked"/>
              <input class="carousel__activator" type="radio" name="carousel" id="G"/>
              <input class="carousel__activator" type="radio" name="carousel" id="H"/>
              <div class="carousel__controls">
                <label class="carousel__control carousel__control--backward" for="H"></label>
                <label class="carousel__control carousel__control--forward" for="G"></label>
              </div>
              <div class="carousel__controls">
                <label class="carousel__control carousel__control--backward" for="F"></label>
                <label class="carousel__control carousel__control--forward" for="H"></label>
              </div>
              <div class="carousel__controls">
                <label class="carousel__control carousel__control--backward" for="G"></label>
                <label class="carousel__control carousel__control--forward" for="F"></label>
              </div>
              <div class="carousel__track">
                <li class="carousel__slide">
                    <img src="../img/experience/fabrica.svg" alt="fabrica">
                    <h2>Pilkington Automotive Argentina</h2>
                    <p>November 2015 - present</p>
                    <a href="#pilkington"><button>Know More</button></a>
                </li>
                <li class="carousel__slide">
                    <img src="../img/experience/colegio.svg" alt="colegio">
                    <h2>Colegio Santa Inés</h2>
                    <p>2013</p>
                    <a href="#santaInes"><button>Know More</button></a>
                </li>
                <li class="carousel__slide">
                    <img src="../img/experience/montania.svg" alt="montaña">
                    <h2>Northstar California Resort</h2>
                    <p>December 2012 - April 2013</p>
                    <a href="#northstar"><button>Know More</button></a>
                </li>
                </li>
              </div>
              <div class="carousel__indicators">
                <label class="carousel__indicator" for="F"></label>
                <label class="carousel__indicator" for="G"></label>
                <label class="carousel__indicator" for="H"></label>
              </div>
            </div>
          </div>

        <section class="experiencia"> <!-- Experiencia laboral/profesional de Facu -->
            <article>
                <img src="../img/experience/fabrica.svg" alt="fabrica">
                <h2>Pilkington Automotive Argentina</h2>
                <p>November 2015 - present</p>
                <a href="#pilkington"><button>Know More</button></a>
            </article>
            <article>
                <img src="../img/experience/colegio.svg" alt="colegio">
                <h2>Colegio Santa Inés</h2>
                <p>2013</p>
                <a href="#santaInes"><button>Know More</button></a>
            </article>
            <article>
                <img src="../img/experience/montania.svg" alt="montaña">
                <h2>Northstar California Resort</h2>
                <p>December 2012 - April 2013</p>
                <a href="#northstar"><button>Know More</button></a>
            </article>
        </section>

        <section class="imagenes"> <!-- Imágenes descriptivas -->
            <img src="../img/experience/trafico.png" alt="trafico">
            <img src="../img/experience/trabajo.png" alt="trabajo">
            <img src="../img/experience/oficina.png" alt="oficina">
        </section>

        <section class="descripcion"> <!-- Descripción de la experiencia laboral/profesional de Facu -->
            <article id="pilkington" data-aos="fade-right">
                <h3>Pilkington Automotive Argentina</h2>
                <div>
                    <img src="../img/experience/calidad.png" alt="calidad">
                    <p>
                        Pilkington, the company where I started as a professional. I was studying Industrial Engineer and in that days, the only thing I wanted to do, was to work in a factory. <br><br>
                        That's the reason why I started to work as a Process Engineer trainee. Mi office was located in the middle of the factory, sourronded by productive processes. Pilkington is an automotive glass manufacturer company, all around the world. <br><br>
                        One year and a half as a trainee. I understood how "things" were manufactured. From its design up to the finished product. I learned operational excellence, 5S, looking up for improvements and measuring them with KPI's, some of them self-designed. <br><br>
                        After that, I started to work in the Quality department. This is where I currently work. As a Quality Engineer, I learned mainly two things, that nowadays are my pillars as a professional: Customer relationaship and troubleshooting. <br><br>
                        What I understood for working in Quality, is that the most important thing of the product we manufacture, is the customer experience. In Quality we have one responsability: Customer satisfaction and doing things right. <br><br>
                        From early 2021, I am in charge of the Quality department, working with a huge team: 5 engineers, 2 engineer trainees and 2 supervisors, which they have there own teams. In total, 46 people working in my team.
                    </p>
                </div>
            </article>
            <article id="santaInes" data-aos="flip-left">
                <h3>Colegio Santa Inés</h2>
                <div>
                    <img src="../img/experience/pizarron.png" alt="pizarron">
                    <p>
                        A simple job. Just for one year, but not less important. <br>
                        I was a teacher of a math workshop for 10 years old girls. Here is where I discover one of the passions I have: Teaching. <br><br>
                        The best of teaching, is that I don't need to do exclusively that in my life. We can teach everywhere. In a professional field, in a familiar field, with friends, wherever we want. <br><br>
                        The only thing we need, is someone to receive our lessons, what I have to give. <br>
                        Don't ask me to leave teaching, because I won't do it at all. I will continue teaching, even though I have nothing to give. I will always find the way for doing it. Maybe reasearching or asking to someone else, because passion for teaching borns from another passion: Learning.                  
                    </p>
                </div>
            </article>
            <article id="northstar" data-aos="zoom-in">
                <h3>Northstar California Resort</h2>
                <div>
                    <img src="../img/experience/esqui.png" alt="esqui">
                    <p>
                        Working in another country, and in another language.
                        Four months of work experience in the USA, where my job was to be a Lift Operator in a ski resort. <br><br>
                        Here I learned the bases: Team-building and team-working. The important thing of working together and having a purpose. Because purpose is the north in our compass. Purpose is the only thing that matters. Purpose is the only thing that will lead us to success. <br><br>
                        Morning meetings, talking about the customer experience in the mountain, understanding what the customers where expecting when they went out to ski. Vail resort had a clear purpose in that times: The experience of a lifetime. <br><br>
                        So everything we do, during our workday, had that north: Experience of a lifetime. And that experience wasn't only for the customer. It was also for us.
                    </p>
                </div>
            </article>
        </section>

        <section class="imagenes"> <!-- Imágenes descriptivas -->
            <img src="../img/experience/oficina.png" alt="oficina">
            <img src="../img/experience/trabajo.png" alt="trabajo">
            <img src="../img/experience/trafico.png" alt="trafico">
        </section>

        <!--<section>
            por lo pronto no voy a incluir este video en la primera entrega
            <iframe width="1904" height="778" src="https://www.youtube.com/embed/ig4G5WbOMLc" title="Pilkington Float Glass Process" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section> -->

    </main>

    <footer>
        <ul>
            <li><a href="https://www.linkedin.com/in/facundomdelp/" target="_blank"><img id="logoLinkedin" src="../img/footer/in.png" alt="linkedin"></a></li>
            <li><a href="https://www.linkedin.com/in/facundomdelp/" target="_blank">/facundomdelp</a></li>
            </a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>

</body>
</html>