<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/experience.css"> <!-- tiene la misma arquitectura que la sección experience -->
    <title>Formation</title>
</head>

<body>

    <header class="header">
        <nav class="header__nav">
            <img id="logo" src="../img/header/fmp.svg" alt="Logo">
            <ul class="header__list">
                <li class="header__item"><a href="../index.html">Home</a></li>
                <li class="header__item"><a href="experience.html">Experience</a></li>
                <li class="header__item" id="active"><a href="formation.html">Formation</a></li>
                <li class="header__item"><a id="myStory" href="mystory.html">My Story</a></li>
                <li class="header__item"><a href="contactme.html">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="tituloPagina"><h1>Formation</h1></div>

        <section class="experiencia"> <!-- Títulos de formación de Facu -->
            <article>
                <img src="../img/formation/fullstack1.svg" alt="full stack">
                <h2>Full Stack Developer</h2>
                <p>July 2022 - present<br>Coderhouse</p>
                <button><a href="#fullStack">Know More</a></button>
            </article>
            <article>
                <img src="../img/formation/ingeniero1.svg" alt="ingenieria">
                <h2>Industrial Engineer</h2>
                <p>2011-2018<br>Universidad de Buenos Aires</p>
                <button><a href="#ingenieria">Know More</a></button>
            </article>
            <article>
                <img src="../img/formation/colegio1.svg" alt="colegio">
                <h2>Natural and Exact Science Bachelor</h2>
                <p>1995-2010<br>Colegio San Juan el Precursor</p>
                <button><a href="#colegio">Know More</a></button>
            </article>
        </section>

        <section class="imagenes"> <!-- Imágenes descriptivas -->
            <img src="../img/formation/libro1.svg" alt="facu leyendo">
            <img src="../img/formation/libro2.svg" alt="facu estudiando">
            <img src="../img/formation/libro3.svg" alt="facu cansado">
        </section>

        <section class="descripcion"> <!-- Descripción de formación de Facu -->
            <article>
                <h3 id="fullStack">Full Stack Developer</h2>
                <div>
                <img src="../img/formation/fullstack2.svg" alt="full stack">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, neque. Laboriosam, doloremque praesentium, libero voluptatem iusto veniam dignissimos modi quis quaerat at qui dolor facilis fugit deserunt, neque aspernatur delectus.</p>
                </div>
            </article>
            <article>
                <h3 id="ingenieria">Industrial Engineer</h2>
                <div>
                <img src="../img/formation/ingeniero2.svg" alt="ingenieria">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quam unde molestiae iusto repellat ut, sequi blanditiis temporibus pariatur sunt quos ea aperiam perspiciatis harum incidunt distinctio debitis est libero.</p>
                </div>
            </article>
            <article>
                <h3 id="colegio">Natural and Exact Science Bachelor</h2>
                <div>
                <img src="../img/formation/colegio2.svg" alt="colegio">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, nisi odit aut asperiores tempore voluptatem minus deserunt fugiat eaque doloribus voluptatibus laudantium a excepturi hic perspiciatis, omnis nam numquam aperiam!</p>
                </div>
            </article>
        </section>

        <!--<section>
            por lo pronto no voy a incluir este video en la primera entrega
            <iframe width="1904" height="778" src="https://www.youtube.com/embed/6Ofpq19KfZA" title="Facultad de Ingeniería (Sede Las Heras) - Buenos Aires, Argentina (HD)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section> -->

    </main>

    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item"><img id="logoLinkedin" src="../img/footer/in.svg" alt="linkedin"></li>
            <li class="footer__item">/facundomdelp</li>
        </ul>
    </footer>

</body>

</html>