<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/experience.css"> <!-- tiene la misma arquitectura que la sección experience -->
    <title>Formation</title>
</head>

<body>

    <header class="header" id="header">

        <nav class="header__nav navbar navbar-expand-lg">
            <div class="container-fluid">
                <img id="logo" src="../img/header/fmp.svg" alt="Logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="header__list navbar-nav">
                        <li class="header__item nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                        <li class="header__item nav-item"><a class="nav-link" href="./experience.html">Experience</a></li>
                        <li class="header__item nav-item" id="active"><a class="nav-link" href="./formation.html">Formation</a></li>
                        <li class="header__item nav-item"><a class="nav-link" id="myStory" href="./mystory.html">My Story</a></li>
                        <li class="header__item nav-item"><a class="nav-link" href="./contactme.html">Contact Me</a></li>
                    </ul>
                </div>
            </div>
          </nav>

    </header>

    <main>

        <a href="#header"><div class="subir"><img src="../img/subir.svg" alt="flecha para subir"></div></a>

        <div class="tituloPagina"><h1>Formation</h1></div>

        <section class="experiencia"> <!-- Títulos de formación de Facu -->
            <article>
                <img src="../img/formation/fullstack1.svg" alt="full stack">
                <h2>Full Stack Developer</h2>
                <p>July 2022 - present<br>Coderhouse</p>
                <a href="#fullStack"><button>Know More</button></a>
            </article>
            <article>
                <img src="../img/formation/ingeniero1.svg" alt="ingenieria">
                <h2>Industrial Engineer</h2>
                <p>2011-2018<br>Universidad de Buenos Aires</p>
                <a href="#ingenieria"><button>Know More</button></a>
            </article>
            <article>
                <img src="../img/formation/colegio1.svg" alt="colegio">
                <h2>Natural and Exact Science Bachelor</h2>
                <p>1995-2010<br>Colegio San Juan el Precursor</p>
                <a href="#colegio"><button>Know More</button></a>
            </article>
        </section>

        <section class="imagenes"> <!-- Imágenes descriptivas -->
            <img src="../img/formation/libro1.svg" alt="facu leyendo">
            <img src="../img/formation/libro2.svg" alt="facu estudiando">
            <img src="../img/formation/libro3.svg" alt="facu cansado">
        </section>

        <section class="descripcion"> <!-- Descripción de formación de Facu -->
            <article data-aos="fade-right">
                <h3 id="fullStack">Full Stack Developer</h2>
                <div>
                <img src="../img/formation/fullstack2.svg" alt="full stack">
                <p>
                    A Full Stack developer is what know I want to be, what I am meant to be. In the section <i>My Story</i> you may find more information of why. <br><br>
                    I choose to do it in a very well known digital school, called Coderhouse. I choose it mainly for two things: Its excellent content and the high demand for achieving its certification. <br><br>
                    What I can say of this, is that coding is a passion. Coding is an art, not only for the visual. Coding is an art in every procedure (not the technical word) we create. Because for creating it, we need creativity. <br><br>
                    For reaching a Full Stack certification in Coderhouse, we need 4 previous certs: Web Development, JavaScript, React Framework and Backend Development. <br><br>
                    What I didn't know is that we can't touch everything we create.
                </p>
                </div>
            </article>
            <article  data-aos="flip-left">
                <h3 id="ingenieria">Industrial Engineer</h2>
                <div>
                <img src="../img/formation/ingeniero2.svg" alt="ingenieria">
                <p>
                    What I didn't know is that we can't touch everything we create. <br><br>
                    I was obsessed with the deepest way of creativity: creation itself. That's why I chose this career, and no regrets at all. <br>
                    Creation itself, is not only in the things we touch. Creation itself is in the experience. And the experience is everywhere. 20st century experience was in the factories, so that's were my obsession was. <br><br>
                    I learn lot of things: Basis engineer subjects as maths, algebra, physics and chemistry. Here is where I developed my analytic and troubleshooting way of thinking. <br>
                    Advanced industrial subjects where I learned operational excellence applied for whatever we want. <br>
                    I also learned a lot from economic and financial subjects. <br><br>
                    It was a fine career, I recommend to everybody.
                </p>
                </div>
            </article>
            <article data-aos="zoom-in">
                <h3 id="colegio">Natural and Exact Science Bachelor</h2>
                <div>
                <img src="../img/formation/colegio2.svg" alt="colegio">
                <p>
                    This school is where I was formed as a person. As a human being with its moral values. <br><br>
                    Even though the school was tough, I was trained under pressure and lot of content I further used in the university, I think that the only thing that matters here, is how I was built as a person.
                </p>
                </div>
            </article>
        </section>

        <section class="imagenes"> <!-- Imágenes descriptivas -->
            <img src="../img/formation/libro3.svg" alt="facu cansado">
            <img src="../img/formation/libro2.svg" alt="facu estudiando">
            <img src="../img/formation/libro1.svg" alt="facu leyendo">
        </section>

        <!--<section>
            por lo pronto no voy a incluir este video en la primera entrega
            <iframe width="1904" height="778" src="https://www.youtube.com/embed/6Ofpq19KfZA" title="Facultad de Ingeniería (Sede Las Heras) - Buenos Aires, Argentina (HD)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section> -->

    </main>

    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item"><a href="https://www.linkedin.com/in/facundomdelp/" target="_blank"><img id="logoLinkedin" src="../img/footer/in.svg" alt="linkedin"></a></li>
            <li class="footer__item"><a href="https://www.linkedin.com/in/facundomdelp/" target="_blank">/facundomdelp</a></li>
            </a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>

</body>

</html>