<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="science, engineering, factory, product, glass, coding, computer, argentina, ciencia, ingeniería, fábrica, producto, vidrio, computadora">
    <meta name="description" content="Facundo's metamorphosis from the industrial world to the digital world">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mystory.css">
    <title>My Story | Facundo's digital tranformation in pictures</title>
</head>

<body>

    <header class="header" id="header">

        <nav class="header__nav navbar navbar-expand-lg">
            <div class="container-fluid">
                <a id="logo" href="../index.html"><img src="../img/header/fmp.png" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="header__list navbar-nav">
                        <li class="header__item nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                        <li class="header__item nav-item"><a class="nav-link" href="./experience.html">Experience</a></li>
                        <li class="header__item nav-item"><a class="nav-link" href="./formation.html">Formation</a></li>
                        <li class="header__item nav-item" id="active"><a class="nav-link" id="myStory" href="./mystory.html">My Story</a></li>
                        <li class="header__item nav-item"><a class="nav-link" href="./contactme.html">Contact Me</a></li>
                    </ul>
                </div>
            </div>
          </nav>

    </header>

    <main>

        <a href="#header"><div class="subir"><img src="../img/subir.svg" alt="flecha para subir"></div></a>

        <div class="tituloPagina">
            <div><img src="../img/my story/portrait.png" alt="retrato de Facu"></div>
            <h1>My Story: From the industrial world to the digital world</h1>
        </div>

        <!-- Por lo pronto pongo las portadas de las fotos ya que aún no las definí -->
        <!-- idem para el texto de cada imagen! -->

        <!-- se hacen diferentes grillas depende del dispositivo que se utilice para poder reordenar las fotos e imágenes de acuerdo al tamaño -->

        <section class="grillaDesktop"> <!-- Grilla para desktop: 4 columnas de fotos -->
            <div id="foto1"><img src="../img/my story/foto1.jpg" alt="polaroid"></div>
            <div id="foto2"><img src="../img/my story/foto2.jpg" alt="polaroid"></div>
            <div id="foto3"><img src="../img/my story/foto3.jpg" alt="polaroid"></div>
            <div id="foto4"><img src="../img/my story/foto4.jpg" alt="polaroid"></div>
            <div id="foto5"><img src="../img/my story/foto5.jpg" alt="polaroid"></div>
            <div id="foto6"><img src="../img/my story/foto6.jpg" alt="polaroid"></div>
            <div id="foto7"><img src="../img/my story/foto7.jpg" alt="polaroid"></div>
            <div id="foto8"><img src="../img/my story/foto8.jpg" alt="polaroid"></div>
            <p id="texto1"><strong>1</strong><br>My story started when I was a kid. I studied at a private school and at the age of 14, I had to choose between economics, humanity or exact science. What can I say? I chose wisely. At school I loved maths, physics and chemistry. So at that moment, I didn't doubt it: I wanted to be an Engineer. But, what kind of engineering? I remember well. At first, I wanted to be an informatic engineer, but not well decided, I chose Industrial engineering, because it was a wide carrer.</p>
            <p id="texto2"><strong>2</strong><br>That means, I could postpone my professional life decision. During university I loved mainly two things: How things were made and Visual Basic! I thing the second one is related to the first one, but at that days, I didn't know it.</p>
            <p id="texto3"><strong>3</strong><br>So as an insdutrial engineer student, I decided to look for a job in a factory. I started to work in an automotive glass factory. There I had the chance to visit lot of factories, and understand how things were manufactured. How things were made.</p>
            <p id="texto4"><strong>4</strong><br>Seven years and counting. This is the time I worked (and I'm working) at this glass factory. I learned a lot.<br>First of all: being a professional.<br>Second: Be an owner.<br>Third: Quality approach and troubleshooting.<br>Fourth: Team building.<br>Fifth: Working with customers<br>Sixth: Working with the labor union.<br>From the first one to the fifth one, I loved it. The last one made me think: Do I want my professional career to be limited to labor union decisions?</p>
            <p id="texto5"><strong>5</strong><br>Is there another way to create things and follow my passion?<br>During my work, I coded with VBA a lot. Nobody asked me, but I realized I could speed up lot of administrative processes. Almost nobody noticed this undercover job I made, but it was a passion to me. Even though I didn't have recognition for this, I never minded, because I liked doing it. I was almost thirty years old, I had a 40 people team, and the scene was going brighter and brighter to me. Most of my decisions were limited by the labor union. The good thing is that I leared lot of negotiations strategy, buy this is not what I wanted. My passion was with my team and with the customers. Manufacturing things. Manufacturing glass. Manufacturing code?</p>
            <p id="texto6"><strong>6</strong><br>At that days, I convinced a 35 years employee and also a friend to me, to start a professional career. He changed his life from one day to another. He choose a future and that was his self-actualization. Having things clear and learning is a nice mixture. If he can change his course, at the age of 35, why couldn't I do it. I always think of job stability. Seven years in the same place and never listen to my restlessness since now.</p>
            <p id="texto7"><strong>7</strong><br>My little brother is my guidance. He is 5 years old younger than me, and he is an excellent programmer. He start talking to me, showing things to me, so that was when I said: I have to at least study how to manufacture code. How to creat webpages, applications, softwares, everything. HTML and CSS is where I needed to start. So what can I say? This story will continue.. <br>The following Lorem ipsum surely will be replaced, as soon as I continue with my new adventure..</p>
            <p id="texto8"><strong>8</strong><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit tempora animi officia odio neque!</p>
            <p id="texto9"><strong>9</strong><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam architecto nesciunt corrupti accusantium doloremque? Consequatur obcaecati facere, libero eos quidem voluptate sit nam officiis voluptatum necessitatibus inventore animi. Accusamus, inventore.</p>
            <p id="texto10"><strong>10</strong><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit tempora animi officia odio nequeo!</p>
        </section>

        <section class="grillaTablet"> <!-- Grillas para Tablet: 2 columnas de fotos -->

            <section class="grillaTablet1">
                <div id="foto1"><img src="../img/my story/foto1.jpg" alt="polaroid"></div>
                <div id="foto2"><img src="../img/my story/foto2.jpg" alt="polaroid"></div>
                <div id="foto3"><img src="../img/my story/foto3.jpg" alt="polaroid"></div>
                <div id="foto4"><img src="../img/my story/foto4.jpg" alt="polaroid"></div>
                <p id="texto1"><strong>1</strong><br>My story started when I was a kid. I studied at a private school and at the age of 14, I had to choose between economics, humanity or exact science. What can I say? I chose wisely. At school I loved maths, physics and chemistry. So at that moment, I didn't doubt it: I wanted to be an Engineer. But, what kind of engineering? I remember well. At first, I wanted to be an informatic engineer, but not well decided, I chose Industrial engineering, because it was a wide carrer.</p>
                <p id="texto2"><strong>2</strong><br>That means, I could postpone my professional life decision. During university I loved mainly two things: How things were made and Visual Basic! I thing the second one is related to the first one, but at that days, I didn't know it.</p>
                <p id="texto3"><strong>3</strong><br>So as an insdutrial engineer student, I decided to look for a job in a factory. I started to work in an automotive glass factory. There I had the chance to visit lot of factories, and understand how things were manufactured. How things were made.</p>
                <p id="texto4"><strong>4</strong><br>Seven years and counting. This is the time I worked (and I'm working) at this glass factory. I learned a lot.<br>First of all: being a professional.<br>Second: Be an owner.<br>Third: Quality approach and troubleshooting.<br>Fourth: Team building.<br>Fifth: Working with customers<br>Sixth: Working with the labor union.<br>From the first one to the fifth one, I loved it. The last one made me think: Do I want my professional career to be limited to labor union decisions? Is there another way to create things and follow my passion?<br>During my work, I coded with VBA a lot. Nobody asked me, but I realized I could speed up lot of administrative processes. Almost nobody noticed this undercover job I made, but it was a passion to me. Even though I didn't have recognition for this, I never minded, because I liked doing it.</p>
                <p id="texto5"><strong>5</strong><br>I was almost thirty years old, I had a 40 people team, and the scene was going brighter and brighter to me. Most of my decisions were limited by the labor union. The good thing is that I leared lot of negotiations strategy, buy this is not what I wanted. My passion was with my team and with the customers. Manufacturing things. Manufacturing glass. Manufacturing code?</p>
            </section>

            <section class="grillaTablet2">
                <div id="foto5"><img src="../img/my story/foto5.jpg" alt="polaroid"></div>
                <div id="foto6"><img src="../img/my story/foto6.jpg" alt="polaroid"></div>
                <div id="foto7"><img src="../img/my story/foto7.jpg" alt="polaroid"></div>
                <div id="foto8"><img src="../img/my story/foto8.jpg" alt="polaroid"></div>
                <p id="texto6"><strong>6</strong><br>At that days, I convinced a 35 years employee and also a friend to me, to start a professional career. He changed his life from one day to another. He choose a future and that was his self-actualization. Having things clear and learning is a nice mixture. If he can change his course, at the age of 35, why couldn't I do it. I always think of job stability. Seven years in the same place and never listen to my restlessness since now.</p>
                <p id="texto7"><strong>7</strong><br>My little brother is my guidance. He is 5 years old younger than me, and he is an excellent programmer. He start talking to me, showing things to me, so that was when I said: I have to at least study how to manufacture code. How to creat webpages, applications, softwares, everything. HTML and CSS is where I needed to start. So what can I say? This story will continue.. <br>The following Lorem ipsum surely will be replaced, as soon as I continue with my new adventure..</p>
                <p id="texto8"><strong>8</strong><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit tempora animi officia odio neque!</p>
                <p id="texto9"><strong>9</strong><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam architecto nesciunt corrupti accusantium doloremque? Consequatur obcaecati facere, libero eos quidem voluptate sit nam officiis voluptatum necessitatibus inventore animi. Accusamus, inventore.</p>
                <p id="texto10"><strong>10</strong><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit tempora animi officia odio nequeo!</p>
            </section>

        </section>

        <section class="grillaCelular"> <!-- Grilla para celular: 1 columna de fotos -->
            <p id="texto1"><strong>1</strong><br>My story started when I was a kid. I studied at a private school and at the age of 14, I had to choose between economics, humanity or exact science. What can I say? I chose wisely. At school I loved maths, physics and chemistry. So at that moment, I didn't doubt it: I wanted to be an Engineer. But, what kind of engineering? I remember well. At first, I wanted to be an informatic engineer, but not well decided, I chose Industrial engineering, because it was a wide carrer.</p>
            <div id="foto1"><img src="../img/my story/foto1.jpg" alt="polaroid"></div>
            <p id="texto2"><strong>2</strong><br>That means, I could postpone my professional life decision. During university I loved mainly two things: How things were made and Visual Basic! I thing the second one is related to the first one, but at that days, I didn't know it.</p>
            <div id="foto2"><img src="../img/my story/foto2.jpg" alt="polaroid"></div>
            <p id="texto3"><strong>3</strong><br>So as an insdutrial engineer student, I decided to look for a job in a factory. I started to work in an automotive glass factory. There I had the chance to visit lot of factories, and understand how things were manufactured. How things were made.</p>
            <div id="foto3"><img src="../img/my story/foto3.jpg" alt="polaroid"></div>
            <p id="texto4"><strong>4</strong><br>Seven years and counting. This is the time I worked (and I'm working) at this glass factory. I learned a lot.<br>First of all: being a professional.<br>Second: Be an owner.<br>Third: Quality approach and troubleshooting.<br>Fourth: Team building.<br>Fifth: Working with customers<br>Sixth: Working with the labor union.<br>From the first one to the fifth one, I loved it. The last one made me think: Do I want my professional career to be limited to labor union decisions?</p>
            <div id="foto4"><img src="../img/my story/foto4.jpg" alt="polaroid"></div>
            <p id="texto5"><strong>5</strong><br>Is there another way to create things and follow my passion?<br>During my work, I coded with VBA a lot. Nobody asked me, but I realized I could speed up lot of administrative processes. Almost nobody noticed this undercover job I made, but it was a passion to me. Even though I didn't have recognition for this, I never minded, because I liked doing it. I was almost thirty years old, I had a 40 people team, and the scene was going brighter and brighter to me. Most of my decisions were limited by the labor union. The good thing is that I leared lot of negotiations strategy, buy this is not what I wanted. My passion was with my team and with the customers. Manufacturing things. Manufacturing glass. Manufacturing code?</p>
            <div id="foto5"><img src="../img/my story/foto5.jpg" alt="polaroid"></div>
            <p id="texto6"><strong>6</strong><br>At that days, I convinced a 35 years employee and also a friend to me, to start a professional career. He changed his life from one day to another. He choose a future and that was his self-actualization. Having things clear and learning is a nice mixture. If he can change his course, at the age of 35, why couldn't I do it. I always think of job stability. Seven years in the same place and never listen to my restlessness since now.</p>
            <div id="foto6"><img src="../img/my story/foto6.jpg" alt="polaroid"></div>
            <p id="texto7"><strong>7</strong><br>My little brother is my guidance. He is 5 years old younger than me, and he is an excellent programmer. He start talking to me, showing things to me, so that was when I said: I have to at least study how to manufacture code. How to creat webpages, applications, softwares, everything. HTML and CSS is where I needed to start. So what can I say? This story will continue.. <br>The following Lorem ipsum surely will be replaced, as soon as I continue with my new adventure..</p>
            <div id="foto7"><img src="../img/my story/foto7.jpg" alt="polaroid"></div>
            <p id="texto8"><strong>8</strong><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit tempora animi officia odio neque!</p>
            <div id="foto8"><img src="../img/my story/foto8.jpg" alt="polaroid"></div>
            <p id="texto9"><strong>9</strong><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam architecto nesciunt corrupti accusantium doloremque? Consequatur obcaecati facere, libero eos quidem voluptate sit nam officiis voluptatum necessitatibus inventore animi. Accusamus, inventore.</p>
            <p id="texto10"><strong>10</strong><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit tempora animi officia odio nequeo!</p>
        </section>

    </main>

    <footer>
        <ul>
            <li><a href="https://www.linkedin.com/in/facundomdelp/" target="_blank"><img id="logoLinkedin" src="../img/footer/in.png" alt="linkedin"></a></li>
            <li><a href="https://www.linkedin.com/in/facundomdelp/" target="_blank">/facundomdelp</a></li>
            </a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>

</html>