footer {
    background-image: linear-gradient(to right,  rgb(70, 70, 70), map-get($pallete, terciary));
    color: white;
    width: 100%;

    ul {
        @include flex(row, left, center, 0);
        max-width: 1440px;
        width: 100%;
        margin: auto;
        padding-left: 0;

        li {
            font-size: 1rem;
            margin: 0 1rem;

            a:hover {
                color: inherit;
            }

            #logoLinkedin {
                padding: 0.5rem 0;
            }
        }
    }
}

