footer {
    background-image: linear-gradient(to right,  rgb(70, 70, 70),var(--terciary));
    color: white;
    width: 100%;

    ul {
        display: flex;
        align-items: center;
        justify-content: left;
        max-width: var(--desktop);
        width: 100%;
        margin: auto;

        li {
            font-size: 1rem;
            margin: 0 1rem;

            a:hover {
                color: inherit;
            }

            #logoLinkedin {
                display: flex;
                align-self: center;
                padding: 0.5rem 0;
            }
        }
    }
}

