header {
    background: var(--primary);
    width: 100%;

    .header__nav {
        max-width: var(--desktop);
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin: auto;

        img {
            width: 25%;
            height: auto;
            max-width: 8rem;
            min-width: 7rem;
            margin: .75rem 0;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            li {
                font-size: 1rem;
                width: 8rem;
                text-align: center;

                a {
                    color: var(--secondary);

                    &:hover {
                        color: var(--secondary);
                        font-weight: bold;
                    }
                }

                #myStory {
                    font-family: var(--text-alt);
                }
            }

            #active {
                font-weight: bold;
                display: inline-block;
                position: relative;

                &::before {
                    content: '.';
                    font-weight: 900;
                    color: var(--secondary);
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}