header {
    background: map-get($pallete, primary);
    width: 100%;

    .header__nav {
        max-width: 1440px;
        width: 100%;
        padding: 0;
        @include flex(row, space-between, flex-start, 0);
        margin: auto;

        a {
            width: 20%;
            height: auto;
            max-width: 10rem;
            min-width: 7rem;

                img {
                    padding: 0.25rem 0;
                }
        }

        ul {
            @include flex(row, center, center, 0);
            flex-wrap: wrap;

            li {
                font-size: 1rem;
                width: 8rem;
                text-align: center;

                a {
                    width: 100%;
                    color: map-get($pallete, secondary);

                    &:hover {
                        color: map-get($pallete, secondary);
                        font-weight: bold;
                    }
                }

                #myStory {
                    font-family: map-get($text, alt);
                }
            }

            #active {
                font-weight: bold;
                display: inline-block;
                position: relative;

                &::before {
                    content: '.';
                    font-weight: 900;
                    color: map-get($pallete, secondary);
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

/* RESPONSIVE */

@media (max-width: 992px) {

    header {

        .header__nav {

            ul {
                flex-direction: column;
            }
        }
    }
}